body {
    display: flex;
    flex-direction: column;
    background-color: #5f57b0;
}

.info, .skills, .gallery, .messages {
    display: flex;
    background-color: #3d3c72;
    padding: 20px 0;
    border-radius: 20px;
    margin-bottom: 30px;
}

.info input {
    flex-basis: 25%;
    height: 30px;
    margin: auto 30px;
    outline: none;
}

.info input[type=file] {
    display: none;
}

.info input[type=submit] {
    flex-basis: 15%;
    width: 70px;
    border-radius: 15px;
    border: none;
    transition: background-color 0.3s, color 0.3s;
}

input[type=submit]:hover{
    background-color: #201ea8;
    color: white;
}


.info img {
    width: 250px;
    border-radius: 200px;
    border: 2px solid red;
    margin-left: 50px;
}

.skills td {
    border: 1px solid #b8b8d1;
    border-radius: 10px;
    padding: 5px;
    color: white;
    text-align: center;
}

.col-1 {
    width: 50%;
}

.col-2 {
    width: 20%;
}

.col-3 {
    width: 15%;
}

.skills {
    flex-direction: column;
}

.add-skill {
    margin-left: auto;
    margin-right: 30px;
}

a {
    text-decoration: none;
    color: white;
    width: 70px;
    height: 20px;
    text-align: center;
    padding-top: 15px;
}

.skills img{
    width: 30px;
}

.gallery table {
    text-align: center;
}

.gallery img {
    width: 50px;
    border-radius: 15px;
}

.gallery {
    flex-direction: column;
}

.add-image {
    margin-right: 25px;
    margin-left: auto;
}

#gallery-image {
    display: none;
}

a img {
    width: 30px;
}

table {
    text-align: center;
}

td {
    color: white;
}

.col-name {
    width: 10%;
}

.col-email {
    width: 15%;
}

.col-phone {
    width: 10%;
}

.col-message {
    width: 50%;
}

.col-date {
    width: 10%;
}

.col-delete {
    width: 5%;
}

.messages td {
    border: 1px solid #4B6075;
}